#!/bin/bash

echo "%wheel ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers

{
	echo 'export http_proxy="http://proxy.bigcompany.com:123/"'
	echo 'export https_proxy="http://proxy.bigcompany.com:123/"'
	echo 'export no_proxy="127.0.0.1,localhost,bigcompany.com"'
} >> /etc/profile.d/99-big-company-proxy.sh
